# Marketing strategy analysis

## 1.Data Loading and quality check

In [81]:
import pandas as pd
data = pd.read_csv('../Project Github/Campaign-Data.csv')
data.head()

,Client ID,Client Type,Number of Customers,Montly Target,Zip Code,Calendardate,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5,Number of Competition
0,ID-987275,Medium Facility,2800,125,1003,16-01-2014,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low
1,ID-987275,Medium Facility,2800,125,1003,16-02-2014,3409460,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,322500.0,Low
2,ID-987275,Medium Facility,2800,125,1003,18-03-2014,10228384,75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low
3,ID-987275,Medium Facility,2800,125,1003,18-04-2014,17047304,123,0.0,0.0,0.0,0.0,3547500.0,1290000.0,0.0,0.0,Low
4,ID-987275,Medium Facility,2800,125,1003,19-05-2014,23866224,171,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low

In [82]:
if isinstance(data, pd.DataFrame):
    print("Data is a DataFrame.")
else:
    print("Data is not a DataFrame, it is a type:", type(data))

Data is a DataFrame.

In [83]:
# Check shape
data.shape

(2976, 17)

In [84]:
# Check Nan value
data.isna().sum()
# Data is good, already cleaned!

Client ID                0
Client Type              0
Number of Customers      0
Montly Target            0
Zip Code                 0
Calendardate             0
Amount Collected         0
Unit Sold                0
Campaign (Email)         0
Campaign (Flyer)         0
Campaign (Phone)         0
Sales Contact 1          0
Sales Contact 2          0
Sales Contact 3          0
Sales Contact 4          0
Sales Contact 5          0
Number of Competition    0
dtype: int64

In [85]:
# Check data type
data.dtypes

Client ID                 object
Client Type               object
Number of Customers        int64
Montly Target              int64
Zip Code                   int64
Calendardate              object
Amount Collected           int64
Unit Sold                  int64
Campaign (Email)         float64
Campaign (Flyer)         float64
Campaign (Phone)         float64
Sales Contact 1          float64
Sales Contact 2          float64
Sales Contact 3          float64
Sales Contact 4          float64
Sales Contact 5          float64
Number of Competition     object
dtype: object

In [86]:
# We can see the Calendardate is 'object', but we don't use this feature. So we can ignore it, if we need to do any analysis remember to transform.

## 2. Exploratory data and apply statistical analysis (correlation), supervised machine learning (regression OLS)

In [87]:
# check client type (Correct to what we have)
data['Client Type'].value_counts(normalize=True)

Client Type
Large Facility      0.459677
Small Facility      0.282258
Medium Facility     0.169355
Private Facility    0.088710
Name: proportion, dtype: float64

In [88]:
# We have column about competition level for each client type, lets check them and see what happen in the market!
pd.crosstab(data['Number of Competition'],data['Client Type'],margins=True,normalize='columns')

Client Type,Large Facility,Medium Facility,Private Facility,Small Facility,All
Number of Competition,,,,,
High,0.166667,0.166667,0.166667,0.166667,0.166667
Low,0.833333,0.833333,0.833333,0.833333,0.833333

We can see the the competition in the market is not really competitive!

In [89]:
# Check client type average value for every features in the dataset
data.groupby('Client Type').mean(numeric_only=True)

,Number of Customers,Montly Target,Zip Code,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5
Client Type,,,,,,,,,,,,,
Large Facility,1380.842105,71.578947,1003.0,1.999880e+07,143.098684,142273.609649,8.192056e+05,45595.436623,133667.763158,2.034013e+06,2.017039e+06,119287.280702,16266.447368
Medium Facility,3940.761905,202.857143,1003.0,4.075997e+07,290.583333,437217.097817,1.552603e+06,49176.847619,398645.833333,4.822783e+06,4.698646e+06,85104.166667,33273.809524
Private Facility,400.727273,20.454545,1003.0,5.030246e+06,35.784091,5183.715152,2.272919e+05,5522.470455,1221.590909,6.376705e+05,4.434375e+05,3664.772727,12215.909091
Small Facility,422.514286,21.285714,1003.0,1.637759e+06,11.689286,11975.986310,9.120875e+04,0.000000,8062.500000,7.617143e+05,3.727946e+05,4223.214286,1535.714286

From the table we can see the Medium and Large Facilities occupy most customer and generate better unit sold

In [90]:
data.columns

Index(['Client ID', 'Client Type', 'Number of Customers', 'Montly Target',
       'Zip Code', 'Calendardate', 'Amount Collected', 'Unit Sold',
       'Campaign (Email)', 'Campaign (Flyer)', 'Campaign (Phone)',
       'Sales Contact 1', 'Sales Contact 2', 'Sales Contact 3',
       'Sales Contact 4', 'Sales Contact 5', 'Number of Competition'],
      dtype='object')

In [118]:
# find correlation between featiures and our target 'Amount Collected'
data.corr(numeric_only=True)['Amount Collected']

Number of Customers    0.607496
Montly Target          0.608204
Zip Code                    NaN
Amount Collected       1.000000
Unit Sold              0.997515
Campaign (Email)       0.248235
Campaign (Flyer)       0.444337
Campaign (Phone)       0.034858
Sales Contact 1        0.277478
Sales Contact 2        0.552112
Sales Contact 3        0.357887
Sales Contact 4        0.236165
Sales Contact 5        0.095795
Calendar_Month         0.139425
Calendar_Year          0.286194
Name: Amount Collected, dtype: float64

In [108]:
# We filter the features again and change the columns name.
import seaborn as sns
cm = sns.light_palette("green", as_cmap=True)
correlation_analysis=pd.DataFrame(data[['Amount Collected',
'Campaign (Email)', 'Campaign (Flyer)', 'Campaign (Phone)',
       'Sales Contact 1', 'Sales Contact 2', 'Sales Contact 3',
       'Sales Contact 4', 'Sales Contact 5']].corr()['Amount Collected']).reset_index()
correlation_analysis.columns=['Impacting Variable','Degree of Linear Impact (Correlation)']
correlation_analysis=correlation_analysis[correlation_analysis['Impacting Variable']!='Amount Collected']
correlation_analysis=correlation_analysis.sort_values('Degree of Linear Impact (Correlation)',ascending=False)
correlation_analysis.style.background_gradient(cmap=cm).format()

We make a table with only Campaign impact to Amount collected.

In [110]:
# We add Client Type, so it will be easy to interpet the result
import seaborn as sns
cm = sns.light_palette("green", as_cmap=True)
correlation_analysis=pd.DataFrame(data.groupby('Client Type')[['Amount Collected',
       'Campaign (Email)', 'Campaign (Flyer)', 'Campaign (Phone)',
       'Sales Contact 1', 'Sales Contact 2', 'Sales Contact 3',
       'Sales Contact 4', 'Sales Contact 5']].corr()['Amount Collected']).reset_index()
correlation_analysis=correlation_analysis.sort_values(['Client Type','Amount Collected'],ascending=False)
correlation_analysis.columns=['Acc Type','Variable Impact on Sales','Impact']
correlation_analysis=correlation_analysis[correlation_analysis['Variable Impact on Sales']!='Amount Collected'].reset_index(drop=True)
correlation_analysis.style.background_gradient(cmap=cm).format()

## 3. Apply Regression Analysis

In [130]:
data.columns

Index(['Client_ID', 'Client_Type', 'Number_of_Customers', 'Montly_Target',
       'Zip_Code', 'Calendardate', 'Amount_Collected', 'Unit_Sold',
       'Campaign_Email', 'Campaign_Flyer', 'Campaign_Phone', 'Sales_Contact_1',
       'Sales_Contact_2', 'Sales_Contact_3', 'Sales_Contact_4',
       'Sales_Contact_5', 'Number_of_Competition', 'Calendar_Month',
       'Calendar_Year'],
      dtype='object')

In [128]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
data.columns=[mystring.replace(" ", "_") for mystring in data.columns]
data.columns=[mystring.replace("(", "") for mystring in data.columns]
data.columns=[mystring.replace(")", "") for mystring in data.columns]
results = smf.ols('Amount_Collected ~ Campaign_Email+Campaign_Flyer+Campaign_Phone+\
       Sales_Contact_1 + Sales_Contact_2 + Sales_Contact_3+Sales_Contact_4 + Sales_Contact_5',data=data).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       Amount_Collected   R-squared:                       0.480
Model:                            OLS   Adj. R-squared:                  0.478
Method:                 Least Squares   F-statistic:                     342.1
Date:                Tue, 08 Oct 2024   Prob (F-statistic):               0.00
Time:                        20:46:25   Log-Likelihood:                -54512.
No. Observations:                2976   AIC:                         1.090e+05
Df Residuals:                    2967   BIC:                         1.091e+05
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        1.481e+06   5.12e+05      2.891      0.004    4.77e+05    2.49e+06
Campaign_Email      0.7932      0.597      1.329      0.184      -0.377       1.963
Campaign_Flyer      3.3376      0.260     12.831      0.000       2.828       3.848
Campaign_Phone      0.0734      1.053      0.070      0.944      -1.991       2.137
Sales_Contact_1     4.2368      0.415     10.207      0.000       3.423       5.051
Sales_Contact_2     3.6382      0.129     28.155      0.000       3.385       3.892
Sales_Contact_3     2.3432      0.131     17.925      0.000       2.087       2.600
Sales_Contact_4    10.9478      1.060     10.331      0.000       8.870      13.026
Sales_Contact_5     3.5078      4.549      0.771      0.441      -5.412      12.428
==============================================================================
Omnibus:                     1099.749   Durbin-Watson:                   0.624
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7733.226
Skew:                           1.578   Prob(JB):                         0.00
Kurtosis:                      10.239   Cond. No.                     5.89e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.89e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

The regression analysis shows that`Campaign_Flyer`, `Sales_Contact_1`, `Sales_Contact_2`, `Sales_Contact_3`, and `Sales_Contact_4` have statistically significant impacts on the amount collected, with `p-values well below 0.05`. This indicates their strong influence on revenue generation. However, Campaign_Phone and Sales_Contact_5 do not show significant effects, as their `p-values exceed 0.05`, suggesting these areas may not effectively contribute to revenue and could be reviewed for potential strategy adjustments.

In [132]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

# Prepare an empty list to store DataFrames for each account type
consolidated_summary_list = []

for acctype in data['Client_Type'].unique():
    temp_data = data[data['Client_Type'] == acctype].copy()
    results = smf.ols('Amount_Collected ~ Campaign_Email + Campaign_Flyer + Campaign_Phone + \
                       Sales_Contact_1 + Sales_Contact_2 + Sales_Contact_3 + Sales_Contact_4 + \
                       Sales_Contact_5', data=temp_data).fit()
    
    # Extract coefficients table
    df = pd.read_html(results.summary().tables[1].as_html(), header=0, index_col=0)[0].reset_index()
    df = df[df['P>|t|'] < 0.05][['index', 'coef']]
    df.columns = ['Variable', 'Coefficient (Impact)']
    df['Account Type'] = acctype
    
    # Sort the coefficients
    df = df.sort_values('Coefficient (Impact)', ascending=False)
    df = df[df['Variable'] != 'Intercept']  # Exclude the intercept for the final output
    
    # Append the DataFrame to the list
    consolidated_summary_list.append(df)

# Concatenate all DataFrames into one consolidated DataFrame
consolidated_summary = pd.concat(consolidated_summary_list, ignore_index=True)

# Display the consolidated summary
print(consolidated_summary)

C:\Users\dinht\AppData\Local\Temp\ipykernel_48516\1401603761.py:14: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(results.summary().tables[1].as_html(), header=0, index_col=0)[0].reset_index()
C:\Users\dinht\AppData\Local\Temp\ipykernel_48516\1401603761.py:14: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(results.summary().tables[1].as_html(), header=0, index_col=0)[0].reset_index()

           Variable  Coefficient (Impact)      Account Type
0    Campaign_Flyer              4.105900   Medium Facility
1   Sales_Contact_2              3.577800   Medium Facility
2   Sales_Contact_1              3.136500   Medium Facility
3   Sales_Contact_3              2.117400   Medium Facility
4   Sales_Contact_1             11.673100   Large Facility
5   Sales_Contact_4             10.614500   Large Facility
6   Sales_Contact_2              4.003100   Large Facility
7    Campaign_Flyer              2.720400   Large Facility
8   Sales_Contact_3              2.031600   Large Facility
9    Campaign_Phone             -3.536100   Large Facility
10  Sales_Contact_2              0.810100   Small Facility
11   Campaign_Phone             -0.000002   Small Facility
12  Sales_Contact_2              6.622300  Private Facility

C:\Users\dinht\AppData\Local\Temp\ipykernel_48516\1401603761.py:14: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(results.summary().tables[1].as_html(), header=0, index_col=0)[0].reset_index()
C:\Users\dinht\AppData\Local\Temp\ipykernel_48516\1401603761.py:14: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(results.summary().tables[1].as_html(), header=0, index_col=0)[0].reset_index()

In [134]:
consolidated_summary

           Variable  Coefficient (Impact)      Account Type
0    Campaign_Flyer              4.105900   Medium Facility
1   Sales_Contact_2              3.577800   Medium Facility
2   Sales_Contact_1              3.136500   Medium Facility
3   Sales_Contact_3              2.117400   Medium Facility
4   Sales_Contact_1             11.673100   Large Facility
5   Sales_Contact_4             10.614500   Large Facility
6   Sales_Contact_2              4.003100   Large Facility
7    Campaign_Flyer              2.720400   Large Facility
8   Sales_Contact_3              2.031600   Large Facility
9    Campaign_Phone             -3.536100   Large Facility
10  Sales_Contact_2              0.810100   Small Facility
11   Campaign_Phone             -0.000002   Small Facility
12  Sales_Contact_2              6.622300  Private Facility

In [138]:
# I change Coefficient (Impact) to $, it is easy to understand.
def format(x):
        return "${:.1f}".format(x)
consolidated_summary['Return on Investment']  = consolidated_summary['Coefficient (Impact)'].apply(format)

In [158]:
consolidated_summary

,Variable,Coefficient (Impact),Account Type,Return on Investment
0,Campaign_Flyer,4.105900,Medium Facility,$4.1
1,Sales_Contact_2,3.577800,Medium Facility,$3.6
2,Sales_Contact_1,3.136500,Medium Facility,$3.1
3,Sales_Contact_3,2.117400,Medium Facility,$2.1
4,Sales_Contact_1,11.673100,Large Facility,$11.7
5,Sales_Contact_4,10.614500,Large Facility,$10.6
6,Sales_Contact_2,4.003100,Large Facility,$4.0
7,Campaign_Flyer,2.720400,Large Facility,$2.7
8,Sales_Contact_3,2.031600,Large Facility,$2.0
9,Campaign_Phone,-3.536100,Large Facility,$-3.5
10,Sales_Contact_2,0.810100,Small Facility,$0.8
11,Campaign_Phone,-0.000002,Small Facility,$-0.0
12,Sales_Contact_2,6.622300,Private Facility,$6.6